/** =========================
*   Color Variables
  ========================= */

$primary_color: #0076c0;
$secondary_color: #002749;
$success_color: #79c142;
$danger_color: #f15d22;
$lightgray_color: #e6e6e6;


/** =========================
*   Font Variables
  ========================= */

$font_basic: 'Geogrotesque-Regular', sans-serif;
$font_light: 'Geogrotesque-Light', sans-serif;
$font_lightitalic: 'Geogrotesque-RegularIt', sans-serif;
$font_medium: 'Geogrotesque-Medium', sans-serif;
$font_bold: 'Geogrotesque-SemiBold', sans-serif;


/** =========================
*   Alignment Variables
  ========================= */
  .text-center {
    text-align: center;
  }