.breadcrumb {
    margin-bottom: 10px;
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-top: 0;

            a {
                margin-right: 10px;
                font-family: $font_bold;
            }
            
            span {
                color: #a29e9e;
                font-family: $font_basic;

                .arrow {
                    font-size: 14px;
                    color: #d8d4d4;
                }
            }
        }
    }
}
