.button {
    &--small {
        height: 32px;
        padding: 5px 10px;
        margin-top: 5px;

        font-size: 16px;
    }

    &__danger {
        background: $danger_color;
    }
    &__success {
        background: $success_color;
    }
}
