.page-numbers { 
    list-style: none;
    padding: 0;
    margin: 15px 0;
    text-align: center;
    li {
        a, span {
            padding: 0.25em 0.75em;
            border: 1px solid #c7c8ca;
            color: #002749;

            &.current,
            &.dots {
                 color: rgba(47,47,47,0.5);
            }
        }        
    }
}