

input {
  background: #fff;

  &[type="submit"] {
    background: $success_color;
    border-radius: 3px;
    font-family: $font_bold;

    &:hover {
        background: $secondary_color;
    }
  }
}


.breadcrumb {
    margin-bottom: 10px;
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-top: 0;

            a {
                margin-right: 10px;
                font-family: $font_bold;
            }
            
            span {
                color: #a29e9e;
                font-family: $font_basic;

                .arrow {
                    font-size: 14px;
                    color: #d8d4d4;
                }
            }
        }
    }
}

.page-numbers { 
    list-style: none;
    padding: 0;
    margin: 15px 0;
    text-align: center;
    li {
        a, span {
            padding: 0.25em 0.75em;
            border: 1px solid #c7c8ca;
            color: #002749;

            &.current,
            &.dots {
                 color: rgba(47,47,47,0.5);
            }
        }        
    }
}