

input {
  background: #fff;

  &[type="submit"] {
    background: $success_color;
    border-radius: 3px;
    font-family: $font_bold;

    &:hover {
        background: $secondary_color;
    }
  }
}


.reset-password-form {
    max-width: 600px;
    border: 1px solid #f1eeee;
    margin: 50px auto;
    padding: 30px;

    input {

    	&[type="text"] {
    		width: 100%;
    		margin-bottom: 10px;
    	}
    	&[type="submit"] {
    		display: block;
    		margin-top: 20px;
    		max-width: 150px;
    		border-radius: 3px;
    		margin: 0 auto;
    		background: #002749;
    		color: #fff;
    	}

    }
}
#form-uptp {

    .moonray-form {
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
    }
    label,
    select {
        font: normal normal 18px/1.3 'PT Sans', sans-serif;
    }
    input {
        &[type="email"] {
            display: none;
        }
        &[type="submit"] {
            background: #7ac143;
            display: inline-block;
            padding: 0.25em 1em;
            border-radius: 4px;
            font-family: 'Geogrotesque-Bold', sans-serif;
            text-align: center;
            color: #FFF;
            font-size: 18px;
            height: auto;
            line-height: 1.5;

            &:hover {
                background: #002749;
            }
        }
    }
}

.breadcrumb {
    margin-bottom: 10px;
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-top: 0;

            a {
                margin-right: 10px;
                font-family: $font_bold;
            }
            
            span {
                color: #a29e9e;
                font-family: $font_basic;

                .arrow {
                    font-size: 14px;
                    color: #d8d4d4;
                }
            }
        }
    }
}

.page-numbers { 
    list-style: none;
    padding: 0;
    margin: 15px 0;
    text-align: center;
    li {
        a, span {
            padding: 0.25em 0.75em;
            border: 1px solid #c7c8ca;
            color: #002749;

            &.current,
            &.dots {
                 color: rgba(47,47,47,0.5);
            }
        }        
    }
}